In [1]:

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [147]:
human_data = pd.read_table('C:/Users/User/Desktop/ammu/human_data.txt')
dog_data = pd.read_table('C:/Users/User/Desktop/ammu/dog_data.txt')
dog_data.head()

                                            sequence  class
0  ATGCCACAGCTAGATACATCCACCTGATTTATTATAATCTTTTCAA...      4
1  ATGAACGAAAATCTATTCGCTTCTTTCGCTGCCCCCTCAATAATAG...      4
2  ATGGAAACACCCTTCTACGGCGATGAGGCGCTGAGCGGCCTGGGCG...      6
3  ATGTGCACTAAAATGGAACAGCCCTTCTACCACGACGACTCATACG...      6
4  ATGAGCCGGCAGCTAAACAGAAGCCAGAACTGCTCCTTCAGTGACG...      0

In [148]:
def getKmers(sequence, size=9):
    return [sequence[x:x+size].lower() for x in range(len(sequence) - size + 1)]

In [149]:
human_data['words'] = human_data.apply(lambda x: getKmers(x['sequence']), axis=1)
human_data = human_data.drop('sequence', axis=1)

In [116]:
dog_data['words'] = dog_data.apply(lambda x: getKmers(x['sequence']), axis=1)
dog_data = dog_data.drop('sequence', axis=1)

In [103]:
dog_data.head()

   class                                              words
0      4  [atgcc, tgcca, gccac, ccaca, cacag, acagc, cag...
1      4  [atgaa, tgaac, gaacg, aacga, acgaa, cgaaa, gaa...
2      6  [atgga, tggaa, ggaaa, gaaac, aaaca, aacac, aca...
3      6  [atgtg, tgtgc, gtgca, tgcac, gcact, cacta, act...
4      0  [atgag, tgagc, gagcc, agccg, gccgg, ccggc, cgg...

In [150]:
human_texts = list(human_data['words'])
for item in range(len(human_texts)):
    human_texts[item] = ' '.join(human_texts[item])
y_data = human_data.iloc[:, 0].values

In [117]:
dog_texts = list(dog_data['words'])
for item in range(len(dog_texts)):
    dog_texts[item] = ' '.join(dog_texts[item])
y_data = dog_data.iloc[:, 0].values

In [118]:
len(dog_texts)

820

In [151]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(ngram_range=(3,3))
X = cv.fit_transform(human_texts)

In [152]:
X.shape

(4380, 1025992)

In [153]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y_data, 
                                                    test_size = 0.20, 
                                                    random_state=42)

In [154]:
from sklearn.naive_bayes import MultinomialNB
classifier = MultinomialNB(alpha=0.01)
classifier.fit(X_train, y_train)

MultinomialNB(alpha=0.01, class_prior=None, fit_prior=True)

In [155]:
y_pred = classifier.predict(X_test)

In [156]:
from sklearn.metrics import accuracy_score, f1_score, precision_score, recall_score
print("Confusion matrix\n")
print(pd.crosstab(pd.Series(y_test, name='Actual'), pd.Series(y_pred, name='Predicted')))
def get_metrics(y_test, y_predicted):
    accuracy = accuracy_score(y_test, y_predicted)
    precision = precision_score(y_test, y_predicted, average='weighted')
    recall = recall_score(y_test, y_predicted, average='weighted')
    f1 = f1_score(y_test, y_predicted, average='weighted')
    return accuracy, precision, recall, f1
accuracy, precision, recall, f1 = get_metrics(y_test, y_pred)
print("accuracy = %.3f \nprecision = %.3f \nrecall = %.3f \nf1 = %.3f" % (accuracy, precision, recall, f1))

Confusion matrix

Predicted   0    1   2    3    4   5    6
Actual
0          95    0   0    0    1   6    0
1           0  106   0    0    0   0    0
2           0    0  78    0    0   0    0
3           0    0   0  124    0   1    0
4           0    0   0    0  145   4    0
5           0    0   0    0    0  51    0
6           0    0   0    0    3   6  256
accuracy = 0.976
precision = 0.981
recall = 0.976
f1 = 0.977